*, *:before, *:after {
  box-sizing: border-box;
}

.statusbar {
  width: 375px;
  margin-top: auto;
  float: left;
}

.nav {
  margin-top: -2.9px;
  padding: 15px 0 10px 15px;
  width: 375px;
  background-color: rgb(0,61,143,90%);
  float: right;
  color: white;
}

#navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navigation li {
  display: inline-block;
}

.status-and-nav {
  position: fixed;
  width: 375px;
}

.arrow-left {
  text-align: left;
  padding-bottom: 10px;
  font-size: .6em;
  margin-left: -5px;
}

.bus {
  width: 20px;
  margin-left: 35px;
}

nav h1 {
  font-size: .9em;
  color: white;
  font-family: Helvetica; sans-serif;
  font-weight: 200;
  margin-right: 30px;
}

nav h2 {
  font-size: 1.1em;
  color: white;
  font-family: Helvetica; sans-serif;
}

.alert{
  width: 20px;
  margin-left: 80px;
}

.map {
  width: 100%;
  padding-top: 20px;
  margin: 0;
}

body {
  box-sizing: border-box;
  background-color: rgb(229,229,250);
  font-family: Helvetica; sans-serif;
  margin: auto;
  padding: 0;
  width: 375px;
}

.container {
  margin: 0 auto;
  width: 100%;
  background-color: white;
}

.container h1 {
  background-color: rgb(229,229,229);
  text-transform: uppercase;
  padding: 10px;
  color: gray;
  margin-top: -5px;
}

.container h2 {
  font-size: 1.2em;
  font-weight: bold;
  text-align: left;
  color: rgb(0,61,143);
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 3px;
}

.container h3 {
  font-size: 1em;
  text-align: left;
  color: rgb(0,61,143);
  padding-top: 5px;
  margin-left: 15px;
  margin-bottom: 8px;
}

.container h4 {
  font-size: .8em;
  font-style: italic;
  color: rgb(0,61,143);
  margin-left: 15px;
}

.container h5 {
  font-size: 1em;
  text-align: right;
  color: rgb(0,61,143);
  margin-bottom: 10px;
  margin-right: 5px;
}

.arrow {
  text-align: right;
  font-size: .6em;
  margin-right: 10px;
}

.right {
  float: right;
}

.rightside {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.rightside li {
  display: inline-block;
}

section.content:hover {
  background-color: darkgray;
}

.content {
  background-color: white;
  border-top: .2px solid darkgray;
  border-bottom: .2px solid darkgray;
  width: 100%;
  padding-bottom: 40px;
}

#reroute h2 {
  color: red;
}
#reroute h3 {
  color: red;
}
#reroute h4 {
  color: red;
}

#out-of-service h2 {
  color: gray;
}
#out-of-service h3 {
  color: gray;
}
#out-of-service h4 {
  color: gray;
}
